<div class="container bg-light py-5">
  <h1 class="display=5 fw-bold">Welcome to Quiz App</h1>
  <p class="col-md08 fs-4">
    Are you a Mario expert? Test your Mushroom Kingdom knowledge with this quiz
  </p>
  <h4>Rules:</h4>
  <ol>
    <li>Your result will be from 1 to 10.</li>
    <li>Reset any time to start over!</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">All the best!!</h1>
  <div class="col-md-4 my-3">
    <label for="">Enter your name: </label>
    <input #name type="text" class="form-control" />
  </div>
  <div class="col-md-4 my-3">
    <label for="">Enter your id: </label>
    <input #id type="text" class="form-control" [disabled]="savedId != ''" />
    <button class="btn btn-primary" (click)="saveId()">save id</button>
    <div class="textError" *ngIf="textError != ''">
      <span style="font-style: italic">{{ textError }}</span>
    </div>
  </div>
  <button
    [disabled]="savedId == ''"
    class="btn btn-primary btn-lg"
    routerLink="/question"
    (click)="startQuiz()"
  >
    Start the Quiz!
  </button>
</div>
